* {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: crimson;
  font-size: 50px;
  font-weight: 900px;
  font-style: italic;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}

h3 {
  color: yellowgreen;
  font-size: 30px;
  text-align: end;
}

.header {
  background-color: indigo;
}

.body {
  background-color: blueviolet;
  padding: 10px;
  border: 10px so;
  font-size: 25px;
  text-transform: capitalize;
  text-overflow: inherit;
}
